<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Add Flight</title>
</head>
<body>
    <header><h1>Add Flight</h1></header>
    <form action="/api/add-flight" method="POST">
        <label for="from">From:</label>
        <input type="text" id="from" name="from" required/>
        <br/>

        <label for="to">To:</label>
        <input type="text" id="to" name="to" required/>
        <br/>

        <label for="date">Date:</label>
        <textarea type="date" id="date" name="date" required> </textarea>
        <br/>

        <label for="price">Price:</label>
        <input type="number" id="price" name="price" required/>
        <br/>

        <label for="company">Company:</label>
        <input type="text" id="company" name="company" required>

        <button type="submit">Add Flight</button>
    </form>
    
</body>
</html>